# Python
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
.env
.DS_Store
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.venv\
env/
.vscode/

# VSCode - these are machine-specific
.vscode/setting.json
.vscode/launch.json
.vscode/
